.container {
  display: flex;
}

.card {
  border: 1px solid salmon;
  padding: 10px;
  margin: 8px 0px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.card .card-header {
  font-weight: bold;
  font-size: 14px;
}

.card .card-content {
  font-weight: 400;
  font-size: 12px;
}

.box {
  color: green;
}
