.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.label1 {
  padding: 3px;
  margin: 1px;
  display: block;
}

.label2 {
  padding: 3px;
  margin: 1px;
  display: block;
}

.label3 {
  padding: 3px;
  margin: 1px;
  display: block;
}

.label4 {
  padding: 3px;
  margin: 1px;
  display: block;
}

.label5 {
  padding: 3px;
  margin: 1px;
  display: block;
}

.data {
  padding: 3px;
  margin: 1px;
  font-weight: bold;
}
